:root {
    --tokyoNight-red: #f7768e;
    --tokyoNight-orange: #ff9e64;
    --tokyoNight-yellow: #e0af68 --tokyoNight-green: #9ece6a;
    --tokyoNight-blue: #2ac3de;
    --tokyoNight-purple: #bb9af7;
    --tokyoNight-darkBlue: #7aa2f7;
    --tokyoNight-backgroundAccent: #24283b;
    --tokyoNight-background: #1a1b26;
    --tokyoNight-accent: #c0caf5;
    --tokyoNight-comments: #565f89;
    --IBM-red: #ED4C4C;
}

body {
    background-color: var(--tokyoNight-background);
}

.main-heading {
    color: white;
    font-size: 32px;
    font-weight: 600;

}

.accent-box-light {
    background-color: var(--tokyoNight-backgroundAccent);
    border: var(--tokyoNight-accent) 2px solid;
    border-radius: 10px;
}

.accent-box-dark {
    background-color: var(--tokyoNight-background);
    border: var(--tokyoNight-comments) 2px solid;
    border-radius: 10px;
}

.white {
    color: white;
}

.grey {
    color: var(--tokyoNight-accent);
}

.body-text {
    size: 20px;

}

.btn-primary {
    background-color: var(--IBM-red);
    border: none;

}

.btn-primary:hover, .btn-primary:focus,
.btn-primary:active, .btn-primary:active:focus {
    background-color: #b83333;
}

.form-control {
    background-color: var(--tokyoNight-background);
    border: solid var(--tokyoNight-comments) 1px;
    color: white;
}

.form-control::placeholder {
    color: var(--tokyoNight-comments);
}

.form-control:focus {
    color: white;
    border-color: var(--tokyoNight-accent);
    background-color: var(--tokyoNight-background);
    box-shadow: none;
}