:root {
    --tokyoNight-red: #f7768e;
    --tokyoNight-orange: #ff9e64;
    --tokyoNight-yellow: #e0af68
    --tokyoNight-green: #9ece6a;
    --tokyoNight-blue: #2ac3de;
    --tokyoNight-purple: #bb9af7;
    --tokyoNight-darkBlue: #7aa2f7;
    --tokyoNight-backgroundAccent: #24283b;
    --tokyoNight-background: #1a1b26;
    --tokyoNight-accent: #c0caf5;
    --tokyoNight-comments: #565f89;
}