<div>
  <div class="card posts-homepage comment-card mx-auto align-self-center">
    <div class="card-body p-0 comment">
      <p class="align-self-center mt-2 mb-0 pb-0">
        <span class="text-accent">╭─</span>
        <a href="{{ url_for('main.userview', username= comment.commentPoster.username)}}">
          {{ comment.commentPoster.username }}</a>
        > ({{ comment.commentPoster.pronouns }}) >
        {{moment(comment.timestamp).fromNow()}}
      </p>
      <!-- <p class="align-self-center mt-2"> ╰───></p> -->
      <p class="align-self-center text-accent mb-2">╰───> {{comment.body}}</p>
    </div>
  </div>
</div>
