<div>
    {{ moment.include_moment() }} <!--This will always need to be added to any file that uses it - maybe move it into navbar or something-->
    <div class="posts-homepage mt-5 border rounded p-3 w-75 mx-auto align-self-center">
        <h5 class="card-title">{{ post.title }}</h5>
        </a>
        <p class ="align-self-center"> > {{ post.author.username }} > {{moment(post.timestamp).format('MMMM Do YYYY')}} > 42 Replies </p>   
        <a href="#" class="rounded-pill X220-button btn btn-primary ">X220</a>
        <a href="#" class="rounded-pill Arch-button btn btn-primary">Arch</a>
        <a href="#" class="rounded-pill Hardware-button btn btn-primary">Hardware Issue</a>
    </div>
</div>