<!-- <table>
    <tr valign="top">
        <td><img src="{{ post.author.avatar(36) }}"></td>
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            says:<br>{{ post.body }}
        </td>
    </tr>
</table> -->


<p> helloo </p>

<div id="post-scrollable-content" class="container-xl  align-self-center" style="height: 100vh; overflow-y: scroll ">
    <div class="posts-homepage mt-5 border rounded p-3 w-75 mx-auto align-self-center">
        <h5 class="card-title">Card title</h5>
        says:<br>{{ post.title }}
        <a href="{{ url_for('user', username=post.user_id) }}">
            {{ post.userid }}
        </a>
        <p class ="align-self-center"> > Username user > 20:47 April 04 > 42 Replies </p>   
        <a href="#" class="rounded-pill X220-button btn btn-primary ">X220</a>
        <a href="#" class="rounded-pill Arch-button btn btn-primary">Arch</a>
        <a href="#" class="rounded-pill Hardware-button btn btn-primary">Hardware Issue</a>
        </div>
    </div>
</div>