<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block page_title %}{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link href="../static/style.css" rel="stylesheet" />
    {{ moment.include_moment() }}
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark">
      <div class="container">
        <a class="navbar-brand mx-2" href="/"
          ><img
            id="ThinkMad-logo"
            src="/static/ThinkMad.svg"
            alt="ThinkMad logo"
            draggable="false"
            height="25"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >☰</i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <form method="post" action="{{ url_for('index')}}"  class="d-flex align-items-center w-100 ms-3 ms-lg-5 me-3 pt-3 pt-lg-0">
            {{searchform.hidden_tag()}}
            {{searchform.textToSearch(placeholder="Search", size=8,
              class="form-control me-2 top-search", type="text")}}
  
            <!-- <input
              class="form-control me-2 top-search"
              type="search"
              placeholder="Search"
              aria-label="Search"
            /> -->
            {{searchform.submitSearch(type="submit", class="btn search-button fs-4 my-0")}}
            <!-- <button class="btn search-button" type="submit">🔍︎</button> -->
          </form>

          <ul class="navbar-nav ms-auto align-items-center pt-3 pt-lg-0">
            <li class="nav-item">
              {% if current_user.is_anonymous %}
              <a class="nav-link dash-link mx-2 text-nowrap" href="{{ url_for('loginPage') }}"
                >Log In</a>
              {% else %}
              <a class="nav-link dash-link mx-2 text-nowrap" href="{{ url_for('profilePage') }}"
                >Profile</a>
              {% endif %} 
            </li>
            <li class="nav-item">
              {% if current_user.is_anonymous %}
              <a class="nav-link profile-link mx-2 text-nowrap" href="{{ url_for('signUpPage') }}"
                >Sign Up</a>
              {% else %}
              <a class="nav-link profile-link mx-2 text-nowrap" href="{{ url_for('logout') }}"
                >Sign Out</a>
              {% endif %} 
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->

    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %} -->


    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="position-absolute z-1 w-100">
          {% for category, message in messages %}
            {% if category == 'error' %}
              <div class="alert alert-danger alert-dismissible mx-auto mt-4" role="alert">
                <div>
                  {{ message }}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% else %}
              <div class="alert alert-success alert-dismissible mx-auto mt-4" role="alert">
                <div>
                  {{ message }}
                </div>
                <buttom type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></buttom>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
    {% block body_content %}{% endblock %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
