{% extends "default.html" %} 
{% block page_title %}ThinkMad - {{post.title}}{% endblock %}
{% block body_content %}
        <div class="align-self-center mt-5 w-75 mx-auto ">
        <div class="card posts-homepage mt-5 border rounded w-75 mx-auto align-self-center">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ url_for('postview', post_id=post.id)}}" > {{ post.title }} </a> </h5>
                <p class="align-self-center mt-2"> > <a href="{{ url_for('userview', username= post.author.username)}}" >{{ post.author.username }}</a>>  > {{moment(post.timestamp).format('MMMM Do YYYY h:mm a')}} > {{commentNumber}} Replies </p>   
                <p class="align-self-center mt-2">{{post.body}}</p>
            </div>
        </div>
  <hr class="mx-auto align-self-center" />

  <div>
    {% block content %} {% for comment in comments %} {% include
    '_comments.html' %} {% endfor %} {% endblock %}
  </div>

  <button id="testbutton" onclick="myFunction()">Click Me</button>

<div id="test" class="test">
  <p>test</p>
</div>

  <div class="container fixed-bottom comment-footer testClass2" id="myDiv">
    <row>
      <div class="col-sm-10 mx-auto">
        <hr />
      </div>
    </row>
    <row>
      <div class="col-sm-9 mx-auto align-self-center testClass">
        <form action="" method="post" class="d-flex mt-3 mb-4" id="regForm">
          {{ form.hidden_tag() }}
          <label class="form-label visually-hidden" for="commentBodyInput"
            >Write a comment</label
          >
          {{form.commentBody(cols=32, rows="1", placeholder="Write a Comment...",id="commentBodyInput", type="text", class="form-control
          me-3") }} {% for error in form.commentBody.errors %}
          <p style="color: red">[{{ error }}]</p>
          {% endfor %} {{ form.submit(class="btn btn-tertiary") }}
        </form>
      </div>
    </row>
  </div>

  <script>
    //toggle button from https://stackoverflow.com/questions/15603390/toggle-between-2-functions
    // document.onload = myFunction()
    function myFunction() {
      "use strict";
  
      document.getElementById("myDiv").style.display = 'none';
        };
    function myFunction2() {
    "use strict";

    document.getElementById("myDiv").style.display = 'initial';
    };
  </script>
  {% endblock %}
</div>
