{% extends "default.html" %} 
{% block page_title %}ThinkMad Sign Up{% endblock %}
{% block body_content %}
    <div class="container-fluid">
      <div class="row d-flex justify-content-center h-100">
        <div class="col-10 col-sm-7 col-md-5 col-lg-4 align-self-center">
          <div class="row">
            <div class="col my-3 pb-1 accent-box-light">
              <img src="/static/ThinkMad.svg" class="d-block mx-auto my-4" />
              <form name="signUp", id="signUpForm" action="{{ url_for('signUpPage') }}" , method="post">
                {{form.hidden_tag()}}
                <div class="form-floating {% if form.username.errors %}is-invalid{% endif %}">
                  {{form.username(placeholder="Username", size=8,
                  class="form-control mb-2" ~ (' is-invalid' if form.username.errors else ''), id="signUpUsername", type="text")}}
                  <label class="my-0" for="signUpUsername">Username</label>
                </div>
                {% for error in form.username.errors %}
                <div class="invalid-feedback mb-1">
                  {{ error }}
                </div>
                {% endfor %}
                <div class="form-floating {% if form.email.errors %}is-invalid{% endif %}">
                  {{form.email(placeholder="Email", size=8, class="form-control
                  mb-2" ~ (' is-invalid' if form.email.errors else ''), id="signUpEmail", type="text")}}
                  <label class="form-label my-0" for="signUpEmail">Email</label>
                </div>
                {% for error in form.email.errors %}
                  <div class="invalid-feedback mb-1">
                    {{ error }}
                  </div>
                {% endfor %}
                <!-- <input class="form-control" type="text" id="signUpUsername" placeholder="Username"><br> -->
                <div class="form-floating {% if form.password.errors %}is-invalid{% endif %}">
                  {{form.password(placeholder="Password", size=8,
                  class="form-control mb-2" ~ (' is-invalid' if form.password.errors else ''), id="signUpPassword",
                  type="password")}}
                  <label class="form-label my-0" for="signUpPassword"
                    >Password</label
                  >
                </div>
                {% for error in form.password.errors %}
                <div class="invalid-feedback mb-1">
                  {{ error }}
                </div>
                {% endfor %}
                <!-- <input class="form-control" type="password" id="signUpPassword" placeholder="Password"><br> -->
                <div class="form-floating {% if form.password2.errors %}is-invalid{% endif %}">
                  {{form.password2(placeholder="Confirm password", size=8,
                  class="form-control mb-2" ~ (' is-invalid' if form.password2.errors else ''), id="signUpConfirmPassword",
                  type="password")}}
                  <label class="form-label my-0" for="signUpConfirmPassword"
                    >Confirm password</label
                  >
                </div>
                {% for error in form.password2.errors %}
                <div class="invalid-feedback mb-1">
                  {{ error }}
                </div>
                {% endfor %}
                <!-- <input class="form-control" type="password" id="signUpConfirmPassword" placeholder="Confirm password"><br> -->

                <p class="p-0 m-0">Pronouns:</p>
                <!-- STILL NEED TO ADD PRONOUNS TO FORM FOR SIGNUP-->
                <div class="form-check d-flex flex-wrap justify-content-around">
                  {% for subfield in form.pronouns %}
                  <div class="me-3">
                    <p>{{ subfield }} {{subfield.label}}</p>
                  </div>
                  {% endfor %}
                </div>
                <div class="d-grid">
                  {{form.signUp(type="submit", class="btn btn-primary w-100
                  d-grid mb-2")}}
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col mb-3 accent-box-dark">
              <div class="row">
                <div class="col align-self-center">
                  <p class="text-center my-2">Already have an account?</p>
                </div>
                <div class="col align-self-center">
                  <a href="/login">
                    <button class="btn btn-secondary my-2 w-100">Log in</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}