<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ThinkMad Sign Up</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="../static/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid vh-100">
            <div class="row d-flex justify-content-center h-100">
                <div class="col-10 col-sm-7 col-md-5 col-lg-4 align-self-center">
                    <div class="row">
                        <div class="col py-3 my-3 border rounded">
                            <p class="text-center">ThinkMad</p>
                            <form name="signUp", action="", method="post">
                                {{form.hidden_tag()}}
                                <label class="form-label" for="signUpUsername">Username:</label><br>
                                    {{form.username(placeholder="Username", size=8, class="form-control", id="signUpUsername", type="text")}}
                                    {% for error in form.username.errors %}
                                    <span style="color:red;">[{{ error}}</span>
                                    {% endfor %}
                                    <label class="form-label" for="signUpEmail">Email:</label><br>
                                    {{form.email(placeholder="Email", size=8, class="form-control", id="signUpEmail", type="text")}}
                                    {% for error in form.email.errors %}
                                    <span style="color:red;">[{{ error}}</span>
                                    {% endfor %}
                                    <!-- <input class="form-control" type="text" id="signUpUsername" placeholder="Username"><br> -->
                                    <label class="form-label" for="signUpPassword">Password:</label><br>
                                    {{form.password(placeholder="Password", size=8, class="form-control", id="signUpPassword", type="password")}}
                                    {% for error in form.password.errors %}
                                    <span style="color:red;">[{{ error}}</span>
                                    {% endfor %}
                                    <!-- <input class="form-control" type="password" id="signUpPassword" placeholder="Password"><br> -->
                                    <label class="form-label" for="signUpConfirmPassword">Confirm password:</label>
                                    {{form.password2(placeholder="Confirm password", size=8, class="form-control", id="signUpConfirmPassword", type="password")}}
                                    {% for error in form.password.errors %}
                                    <span style="color:red;">[{{ error}}</span>
                                    {% endfor %}
                                    <!-- <input class="form-control" type="password" id="signUpConfirmPassword" placeholder="Confirm password"><br> -->

                                    <p class="p-0 m-0">Pronouns:</p> <!-- STILL NEED TO ADD PRONOUNS TO FORM FOR SIGNUP-->
                                    <div class="form-check d-flex flex-wrap justify-content-around">
                                        {% for subfield in form.pronouns %}
                                            <tr>
                                                <td>{{ subfield }}</td>
                                                <td> {{subfield.label}} </td>
                                            </tr>
                                        {% endfor %}
                                    </div>
                                    <br> 
                                    <div class="d-grid">
                                        {{form.signUp(type="submit", class="btn btn-primary w-100 d-grid")}}
                                    </div>
                            </form>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col mb-3 border rounded">
                            <div class="row">
                                <div class="col align-self-center">
                                    <p class="text-center my-2">Already have an account?</p>
                                </div>
                                <div class="col align-self-center">
                                    <div class="d-grid">
                                        <button class="btn btn-secondary my-2">Log in</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>